:root {
  --primary-color: rgb(195, 222, 253);
}

/* Root styles */
html, body, #root {
  min-height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main consainters */ 
#root, header, footer {
  width: 100%;
}

header {
  margin-bottom: 2em;
  padding: 1em;
  background: radial-gradient(closest-side, var(--primary-color) 30%, rgba(195, 222, 253, 0) 80%);
  /* background-color: rgb(195, 222, 253); */
}

main {
  flex-grow: 1;
  max-width: 600px;
}

footer {
  text-align: center;
  box-shadow: 0 0 5px var(--primary-color);
  padding: 0.5em;
}

/* Specific element */
h1 {
  text-align: center;
}

.ui.input {
  min-width: 200px;
  max-width: 300px;
  width: 50vw;
  margin-right: 1em;
}
.ui.input > input:focus {
  box-shadow: 0 0 5px var(--primary-color);
}

.contained-row {
  margin: 0;
}

/* Filter container */
.filter-container {
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
}

ul.ui.list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

li::before {
  display: none;
  width: 0;
}

.ui.segment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ui.segment:hover, .ui.segment:active {
  box-shadow: 0 0 10px var(--primary-color);
}

.content {
  cursor: pointer;
  display: inline-block;
}
